@import "tailwindcss";



@layer components {
  .border-gray {
    border: #9e9c9c 1px solid;
    border-radius: 10px;
  }
  .testimonals-container {
    box-sizing: border-box;

    /* DOML gradient 1 */
    background: linear-gradient(
      267.03deg,
      #00f0ff 4.01%,
      #5200ff 57.55%,
      #ff2df7 114.97%
    );
    border: 1px solid #000000;
    border-radius: 20px;
  }

  .gradient-border {
    background: linear-gradient(white, white) padding-box,
      linear-gradient(90deg, #9333ea, #3b82f6) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
  }

  .gradient-border:focus {
    background: linear-gradient(white, white) padding-box,
      linear-gradient(90deg, #3b82f6, #9333ea) border-box;
  }
}

/* Rectangle 8 */
